[submodule "wp"]
	path = wp
	url = git@github.com:WordPress/WordPress.git
[submodule "wp-content/themes/germanschool/plugins/cmb2"]
	path = wp-content/themes/germanschool/plugins/cmb2
	url = git@github.com:WebDevStudios/CMB2.git
